@charset "UTF-8";

:root {
  --color-yellow: #fecf5d;
  --color-white: #fff;
  --color-black: #201c1c;
  --color-black-medium: #000;
}

body {
  background-color: #201c1c;
  font-family: "Roboto", monospace;
}

.principal {
  display: flex;
}

.bemvindo {
  display: flex;
  padding: 10px;
  width: 489px;
  height: 1024px;
  background-image: url("../image/microfone.png");
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
}

.logo-bemvindo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  margin-top: 84px;
  margin-left: 121px;
  margin-bottom: 130px;
  width: 224px;
  height: 224px;
}

h2 {
  color: #fff;
  font-family: "Work Sans";
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.68px;
  margin-left: 147px;
}

.formcad {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  width: 979px;
  height: 1024px;
}

.crieconta {
  width: 501px;
  height: 115px;
  margin-top: 101px;
  margin-left: 164px;
  margin-bottom: 43px;
  text-align: left;
}

.crieconta > h2 {
  margin: 0px;
  color: #fff;
  font-family: "Work Sans";
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.68px;
}

.crieconta > p {
  padding-top: 20px;
  color: #fff;
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.4px;
}

.login {
  color: #fff;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 165px;
}

.login > a {
  color: #fff;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

.errormessage {
  opacity: 0;
  width: 710px;
  height: 88px;
  color: #fff;
  background-color: red;
  margin-left: 60px;
}

.logtext {
  display: flex;
  align-items: center;
}

.logtext > img {
  width: 32px;
  height: 32px;
  margin-top: 28px;
  margin-left: 27px;
  margin-bottom: 28px;
}

.msgerro {
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 30px;
}

fieldset {
  border: 0;
}

.form-control input {
  padding: 5px;
    border: 1px solid #000;
  background: #fff;
  color: #201c1c;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

label {
  color: #fff;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#name {
  margin-left: 165px;
  margin-top: 43px;
}

#username {
  margin-top: 26px;
  width: 500px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px;
}

.email-data {
  display: flex;

  margin-left: 165px;
  margin-top: 28px;
}

#e-mail {
  margin-top: 14px;
}

#email {
  margin-top: 14px;
  width: 232px;
  height: 49px;
  flex-shrink: 0;
  border-radius: 5px;
}

#date {
  margin-top: 13px;
  width: 232px;
  height: 49px;
  position: relative;
  right:10px;
  border-radius: 5px;
}

#date > p {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 4px;
  position: relative;
  right: 4px;
}

.senhas {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-left: 165px;
  margin-top: 60px;
}

#passwords > p {
  margin-top: 4px;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}

#password {
  margin-top: 13px;
  width: 232px;
  height: 52px;
  flex-shrink: 0;
}

.olhofechado {
  position: relative;
  top: 5px;
  right: 35px;
  cursor: pointer;
  opacity: 0.5;
}

#passwordconf {
  margin-top: 13px;
  width: 232px;
  height: 52px;
  flex-shrink: 0;
}
.olhofechado2 {
  position: relative;
  top: 5px;
  right: 35px;
  cursor: pointer;
  opacity: 0.5;
}

#termos {
  display: flex;
  margin-left: 165px;
  margin-top: 15px;
}
#termos > label {
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#termos > label > a {
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

button {
  width: 188px;
  height: 56px;
  margin-top: 55px;
  margin-left: 165px;
  border-radius: 40px;
  background: #fecf5d;
  box-shadow: 1px 14px 9px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.32px;
  cursor: pointer;
}



.form-control.success input {
  border: 1px solid #03a200;
  background: #daf8da;
}

.form-control.error input {
  border: 1px solid #fa0000;
  background: #fad6d6;
}

.form-control small {  
  visibility: hidden;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.form-control.error small {
  color: #fa0000;
  visibility: visible;
}

#e-mail > small{
  position: relative;
  right: 230px;
  top: 40px;
}


#password2 > small{
  position: relative;
  right: 260px;
  top: 40px;
}
