@charset "UTF-8";

:root {
  --color-yellow: #fecf5d;
  --color-white: #fff;
  --color-black: #201c1c;
  --color-black-medium: #000;
}

body {
  background-color: #201c1c;
  font-family: "Roboto", monospace;
  height: 100%;
  width: 100%;
}

dialog {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 400px;
  border-radius: 40px;
  background: #fff;
  border: none;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

#fade,
#popuperro {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.borda {
  position: static;
  width: 499.944px;
  height: 63.734px;
  transform: rotate(-179.961deg);
  flex-shrink: 0;
  border-radius: 20px 20px 40px 40px;
  background: rgba(254, 207, 93, 0.5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#popuperro {
  display: flex;
  align-items: center;
}
#popuperro h3 {
  margin-top: 25px;
  padding: 10px;
  position: relative;
  left: 50px;
  width: 381px;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#popuperro p {
  position: relative;
  padding: 25px;
  width: 473px;
  height: 69px;
  color: #201c1c;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#popuperro p strong {
  color: #201c1c;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.popbutton {
  display: flex;
  width: 248.942px;
  height: 62px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  position: relative;
  left: 100px;
  top: 50px;
  border-radius: 40px;
  background: #fecf5d;
  box-shadow: 1px 10px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

#popuperro.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}

#popuperro.hide {
  top: 0;
}

.principal {
  display: flex;
}

.bemvindo {
  display: flex;
  padding: 10px;
  width: 489px;
  height: 1024px;
  background-image: url("../image/microfone.png");
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
}

.logo-bemvindo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  margin-top: 84px;
  margin-left: 121px;
  margin-bottom: 130px;
  width: 224px;
  height: 224px;
}

h2 {
  color: #fff;
  font-family: "Work Sans";
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.68px;
  margin-left: 147px;
}

.errormessage {
position: fixed;
  opacity: 0;
  width: 710px;
  height: 88px;
  color: #fff;
  background-color: red;
  right: 130px;
  bottom: 550px;
}

.logtext {
  display: flex;
  align-items: center;
}

.logtext > img {
  width: 32px;
  height: 32px;
  margin-top: 28px;
  margin-left: 27px;
  margin-bottom: 28px;
}

.msgerro {
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 30px;
}

.bloqerro {
  position: fixed;
    opacity: 0;
    width: 710px;
    height: 88px;
    color: #fff;
    background: #FECF5D;
    right: 130px;
    bottom: 550px;
    
  }
  
  .errologtext {
    display: flex;
    align-items: center;
  }
  
  .errologtext > img {
    width: 32px;
    height: 32px;
    margin-top: 28px;
    margin-left: 27px;
    margin-bottom: 28px;    
  }
  
  .bloqerromsg {
    font-family: "Roboto";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 30px;
    color: #000;
  }
  
  #formlogin1{
    position: absolute;
    margin-left: 550px;
    top: 130px;    
  }





.loginconta {
  width: 501px;
  height: 115px;

  margin-left: 100px;
  margin-bottom: 43px;
  text-align: left;
}

.loginconta > h2 {
  margin: 0px;
  color: #fff;
  font-family: "Work Sans";
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.68px;
}

.loginconta > p {
  padding-top: 20px;
  color: #fff;
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.4px;
}

.cadastre {
  color: #fff;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 100px;
}

.cadastre > a {
  color: #fff;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

#formlogin {
  margin-top: 56px;
  margin-left: 100px;
}

.form-control input {
  width: 232px;
  height: 49px;
  flex-shrink: 0;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #000;
  background: #fff;
  color: #201c1c;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-control label {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#email {
  margin-top: 19px;
  margin-bottom: 23px;
}

#passwordLogin {
  margin-top: 10px;
  margin-bottom: 9px;
}

#password1 p {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.olhofechado {
  position: relative;
  top: 5px;
  right: 35px;
  cursor: pointer;
  opacity: 0.5;
}

#confirma {
  margin-top: 90px;
  display: flex;
  width: 188px;
  height: 56px;
  padding: 21px 27px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: #fecf5d;
  box-shadow: 1px 14px 9px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.32px;
}

#esqueceu {
  margin-top: 20px;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;  
}

#esqueceu a{
  color: #fff;
}

.form-control.success input {
  border: 1px solid #03a200;
  background: #daf8da;
}

.form-control.error input {
  border: 1px solid #fa0000;
  background: #fad6d6;
}