@charset "UTF-8";

* {
  text-decoration: none;
  color: aliceblue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-yellow: #fecf5d;
  --color-white: #fff;
  --color-black: #201c1c;
  --color-black-medium: #000;
}

body {
  text-align: center;
  background-color: var(--color-black);
  background-position: center;
  font-family: "Roboto";
  height: 100vh;
  width: 100vw;
  color: #fff;
}

header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../image/fundo.jpg");
  width: 100vw;
  min-height: 831px;
  background-position-y: center;
  position: relative;
  display: flex;
  flex-direction: column;
}

header::before {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.logo-pipoca {
  display: flex;
  position: relative;
  right: 10px;
  top: 15px;
  margin-bottom: 30px;
}

.navigator {
  max-width: 1600px;
  min-width: 300px;
  width: 100%;
  height: 222px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

nav > ul {
  display: flex;
  font-size: 20px;
}

.container {
  width: 100%;
  max-width: 1400px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
  align-items: center;
}

.container > h1 {
  font-size: 96px;
  font-weight: 900px;
  text-align: start;
  color: var(--color-yellow);
  backdrop-filter: blur(2px);
  background-color: rgba(11, 9, 9, 0.159);
  border-radius: 90px;
  padding-left: 30px;
}

.container-bottom {
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  align-self: flex-start;
}

.container-bottom > h2 {
  font-size: 32px;
  text-align: start;
  font-weight: bold;
  color: var(--color-white);
}

.container-bottom > button {
  width: 319px;
  height: 82px;
  background-color: var(--color-yellow);
  color: var(--color-black-medium);
  border-radius: 50px;
  font-size: 24px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  box-shadow: none;
}

bottom:hover {
  background: chartreuse;
}

.desc-logos {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  padding: 40px;
}

.descricao {
  width: 671px;
  height: 214px;
  font-family:"Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  margin-right: 320px;
  position: relative;
  left: 20px;
  top: 15px;
}

.redes-sociais {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 303px;
  height: 190px;
  font-size: 30px;
  font-weight: 300;
  align-content: normal;
}

.redes {
  width: 200px;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.apresentacao {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  margin-bottom: 50px;
}

.apresentacao > h3 {
  padding: 20px;
  color: #fecf5d;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
}

.ultimos {
  width: 100%;
  height: 506px;
  background-color: #000;
}

.ultimos > h3 {
  padding-top: 40px;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  color: #fff;
}

.ultimos .videos-ultimos {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  gap: 15px;
}
.ultimos .videos-ultimos iframe {
  width: 300px;
  height: 197px;
  margin-right: 63px;
  margin-left: 63px;
  padding-bottom: 30px;
}
.ultimos .videos-ultimos p {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
}
.ultimos .bolinha {
  padding-top: 20px;
}
.ultimos .bolinha a {
  padding: 5px;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-rodape {
  display: flex;
  align-content: center;
  width: 173px;
  height: 173px;
  position: relative;
  left: 30px;
}

footer p {
  margin: 10px 50px;
  padding: 30px 40px;
  text-align: left;
}

.rodape {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-end;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  left: 100px;
}

.rodape-redes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  position: relative;

  bottom: 30px;
}
