@charset "UTF-8";

:root {
    --color-yellow: #fecf5d;
    --color-white: #fff;
    --color-black: #201c1c;
    --color-black-medium: #000;
  }
  
  body {  
    background-color: var(--color-white);
    font-family: "Roboto", monospace;   
    margin: 20px 20px ;
    padding: 20px 20px;
  }

  h2{
    text-align: left;
    font-size: 2em;
    font-weight: bolder;
  }

  h3{
    font-size: 1.5em;
    font-weight: bold;
  }