.email, .password, .newPassword, .btnunit {
  width: 100%;
}

/* SMALL DEVICES - SMARTPHONES */
@media screen and (max-width: 480px) {
  .background-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .registration {
    margin-top: 0px;
    align-items: center;
  }

  .principal {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .login {
    margin-top: 85px;
  }

  .email {
    margin-top: 14px;
  }

  .btn-confirm {
    margin-top: 82px;
  }

  .btnunit {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .newPassword {
    margin-top: -50px;
    width: 100%;
  }
}
