.formcad {
  height: 50px;
}

.registration {
  margin-top: 0;
  flex-direction: column;
}

.btn-confirm {
  margin-top: 116px;
  margin-bottom: 0px;
}

/* SMALL DEVICES - SMARTPHONES */
@media screen and (max-width: 480px) {
  .background-wrapper::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-backgound-60);
    z-index: 1;
  }

  .formcad {
    height: auto;
  }

  .registration {
    margin-top: 0px;
    align-items: center;
  }

  .principal {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .login {
    margin-top: 85px;
  }

  .email {
    margin-top: 14px;
  }

  .btn-confirm {
    margin-top: 82px;
  }

  .btnunit {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .newPassword {
    margin-top: -50px;
    width: 100%;
  }
}
