<main class="principal background-wrapper">
  <article class="bemvindo">
    <section class="logo-bemvindo">
      <img
        src="../../../../assets/image/logo-pipoca-agil.png"
        alt="Logo pipoca Agil"
        class="logo"
      />
      <h2>Bem - vindo</h2>
    </section>
  </article>
  <form [formGroup]="form" id="formlogin1">
    <section class="formcad">
      <aside class="crieconta">
        <h2>Redefinir Senha</h2>
        <p>Digite sua nova senha no campo abaixa e confirme</p>
      </aside>
      <p class="login">
        Não tem conta?
        <a routerLink="/cadastro" target="_parent">Cadastre aqui!</a>
      </p>
    </section>
    <fieldset class="registration">
      <div class="password">
        <label for="password">Senha:</label>
        <div class="password-input">
          <input
            class="username"
            id="passwordInput"
            [type]="passwordVisible ? 'text' : 'password'"
            name="senha"
            formControlName="password"
            [ngClass]="{
              'is-invalid': f.password.errors && f.password.touched
            }"
            [ngClass]="
              f.password.valid
                ? cssBackgroundValidator(f.password)
                : cssBackgroundInvalidator(f.password)
            "
            placeholder="Digite uma Senha"
          />
          <img
            class="hide"
            id="togglePassword"
            [src]="passwordVisible ? imageAbertaUrl : imageFechadaUrl"
            alt=""
            (click)="togglePasswordVisibility()"
          />
        </div>

        <div
          *ngIf="f.password.errors?.required && f.password.touched"
          class="invalid-feedback"
        >
          Senha é obrigatória.
        </div>
        <div
          *ngIf="f.password.errors?.minlength && f.password.touched"
          class="invalid-feedback"
        >
          Deve conter no mínimo 8 caracteres.
        </div>
      </div>

      <div class="password">
        <label for="passwordconf">Confirmar Senha:</label>
        <div class="password-input">
          <input
            class="username"
            id="confirmePassword"
            [type]="passwordVisible ? 'text' : 'password'"
            name="confirmasenha"
            formControlName="confirmePassword"
            [ngClass]="{
              'is-invalid':
                f.confirmePassword.errors && f.confirmePassword.touched
            }"
            [ngClass]="
              f.confirmePassword.valid
                ? cssBackgroundValidator(f.confirmePassword)
                : cssBackgroundInvalidator(f.confirmePassword)
            "
            placeholder="Confirme a senha"
          />
          <img
            class="show"
            id="toggleConfirmPassword"
            [src]="passwordVisible ? imageAbertaUrl : imageFechadaUrl"
            alt=""
            (click)="togglePasswordVisibility()"
          />
        </div>
        <div
          *ngIf="f.confirmePassword.errors?.mustMatch"
          class="invalid-feedback"
        >
          As senhas devem ser iguais.
        </div>
        <div
          *ngIf="
            f.confirmePassword.errors?.required && f.confirmePassword.touched
          "
          class="invalid-feedback"
        >
          Confirmar Senha é obrigatória.
        </div>
      </div>
      <div class="btnunit">
        <button
          class="btn btn-confirm txt-btn"
          type="submit"
          (click)="form.valid ? '' : errorRegistration()"
          (click)="form.valid ? '' : showErrorForRequiredFields()"
        >
          Confirmar
        </button>
      </div>
    </fieldset>
  </form>
</main>
