<header>
  <nav class="navigator">
    <div class="logo-pipoca">
      <img
      class="logo-popoca-agil-1"
        src="../../../../assets/image/logo-pipoca-agil.png"
        alt="logo-pipoca-agil"
      />
    </div>
    <div class="menu">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="#">Blog</a></li>
      <li><a routerLink="/episosdios">Episódios</a></li>
      <li><a href="/contatos">Contato</a></li>
    </div>
    <div class="div-container">
      <img
        src="../../../../assets/image/🦆 icon _person_.svg"
        alt="icone pessoa"
      /><a href="/login">Login</a>
    </div>
  </nav>
  <div class="container">
    <h1>“O Podcast mais animado do Mundo Ágil”</h1>
    <div class="container-button">
      <h2>
        Assine e seja membro para ter acesso a <br />
        conteúdos exclusivos.
      </h2>
      <button class="btn-confirm txt-btn" id="assinar" onclick="login()">
        Assinar
      </button>
    </div>
  </div>
</header>
