<nav class="navigator">
  <div class="icon-menu">
    <button (click)="toggleMenuOpen()">
      <img
        class="icon-menu-img"
        src="../../../../assets/image/icon-menu.png"
        alt=""
      />
    </button>
  </div>
  <div class="logo-pipoca">
    <img
      id="logomarca"
      class="logo-popoca-agil-1"
      src="../../../../assets/image/logo-pipoca-agil.png"
      alt="logo-pipoca-agil"
    />
  </div>
  <div class="menu">
    <li><a id="home" routerLink="/">Home</a></li>
    <li><a id="blog" routerLink="/blog">Blog</a></li>
    <li><a id="episodios" routerLink="/episosdios">Episódios</a></li>
    <li><a id="quemsomos" routerLink="/episosdios">Quem somos</a></li>
    <li><a id="contato" routerLink="/contatos">Contato</a></li>
  </div>
  <div class="div-container">
    <img
    id="icon-person"
      src="../../../../assets/image/icon _person_.svg"
      alt="icone pessoa"
    /><a id="txt-person" routerLink="/login">Login</a>
  </div>
  <div class="vazia"></div>
</nav>
