.name {
  width: 100%;
}

/* SMALL DEVICES - SMARTPHONES */
@media screen and (max-width: 480px) {
  .background-wrapper::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-backgound-60);
    z-index: 1;
  }
}
