<app-header></app-header>
<main class="home-container">
  <article>
    <section class="desc-logos">
      <p class="descricao">
        O Pipoca Ágil é um podcast voltado para o Mundo Ágil e afins. Com o
        propósito de ser um podcast "chão de fábrica", ajudando na divulgação de
        conteúdo do Mundo Ágil e contando casos e soluções para a implementação
        da Transformação Digital nas empresas.
      </p>
      <div class="redes-sociais">
        <p>Siga nossos canais</p>
        <div class="redes">
          <li>
            <a href="https://www.youtube.com/@PipocaAgil" target="_blank"
              ><img
                src="../../../assets/image/bi_youtube.svg"
                alt="logo youtube"
            /></a>
          </li>
          <li>
            <a href="https://twitter.com/pipoca_agil" target="_blank"
              ><img
                src="../../../assets/image/skill-icons_twitter.svg"
                alt="logo twitter"
            /></a>
          </li>
          <li>
            <a href="https://www.instagram.com/pipocaagil/" target="_blank"
              ><img
                src="../../../assets/image/ri_instagram-fill.svg"
                alt="logo instagram"
            /></a>
          </li>
          <li>
            <a
              href="https://open.spotify.com/show/5J1scP1l7m7kXK6v5RZS7J"
              target="_blank"
              ><img
                src="../../../assets/image/mdi_spotify.svg"
                alt="logo spotify"
            /></a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/company/pipoca-%C3%A1gil/mycompany/verification/"
              target="_blank"
              ><img
                src="../../../assets/image/bi_linkedin.svg"
                alt="logo linkedin"
            /></a>
          </li>
          <li>
            <a
              href="https://web.facebook.com/pipocaagil/?_rdc=1&_rdr"
              target="_blank"
              ><img
                src="../../../assets/image/ic_outline-facebook.svg"
                alt="logo facebook"
            /></a>
          </li>
        </div>
      </div>
    </section>
  </article>
  <article class="apresentacao">
    <div>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/RvSzTZUvj5o?controls=0"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <h3>Veja nossa apresentação!</h3>
  </article>
  <section>
    <section class="ultimos">
      <h3>Últimos podcasts</h3>
      <div class="videos-ultimos">
        <div class="video-text">
          <iframe
            width="305"
            height="197"
            src="https://www.youtube.com/embed/KHVlEoj90gA?controls=0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
          <p>Projeto Ágil Podcast Pipoca Ágil</p>
        </div>
        <div class="video-text">
          <iframe
            width="300"
            height="197"
            src="https://www.youtube.com/embed/lWHxluJLULQ"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
          <p>PAPO DE AGILE COACH</p>
        </div>
        <div class="video-text">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/wzzU82SzWjA"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
          <p>
            Vida de PO trabalhando com IA, BI e RPA e mais metodologia Ágil.
          </p>
        </div>
      </div>
      <div class="bolinha">
        <a href="#"
          ><img src="../../../assets/image/Ellipse 4.svg" alt="ponto cheio"
        /></a>
        <a href="#"
          ><img src="../../../assets/image/Ellipse 3.svg" alt="ponto vazio"
        /></a>
        <a href="#"
          ><img src="../../../assets/image/Ellipse 3.svg" alt="ponto vazio"
        /></a>
      </div>
    </section>
  </section>
</main>
<app-footer></app-footer>
