<app-header *ngIf="isMobile"></app-header>
<main class="background-wrapper">
  <header class="background-fullscreen" id="microphone-background">
    <app-header *ngIf="!isMobile"></app-header>
    <div class="container">
      <div class="title-background" id="title-background">
        <div class="title color-yellow">
          <h1 id="title">“O Podcast mais animado do Mundo Ágil”</h1>
        </div>
      </div>
      <div class="title-360px">
        <h1 id="title-mobile">“O Podcast mais animado do Mundo Ágil”</h1>
      </div>
      <div class="container-button">
        <div class="txt-desc">
          <h2 id="title-desc">
            Assine e seja membro para ter acesso a <br />conteúdos exclusivos.
          </h2>
        </div>
        <div class="btn-container roboto">
          <button
            routerLink="/cadastro"
            class="btn btn-access"
            id="btn-access"
          >
            <p class="txt-btn" id="txt-btn-access">ASSINAR</p>
          </button>
        </div>
      </div>
    </div>
  </header>
  <section class="home-container">
    <article class="article-one">
      <section class="desc-logos">
        <div class="title-one"><h2>Quem somos</h2></div>
        <p class="descricao" id="txt-desc">
          O Pipoca Ágil é um podcast voltado para o Mundo Ágil e afins. com o
          propósito de ser um podcast "chão de fábrica", ajudando na divulgação
          de conteúdo do Mundo Ágil e contando casos e soluções para a
          implementação da Transformação Digital nas empresas.
        </p>
        <ul class="redes-sociais">
          <p id="txt-media">Siga nossos canais</p>
          <div class="redes">
            <div *ngFor="let media of medias">
              <li>
                <a [id]="'link-' + media.id" [href]="getSafeUrl(media.url)" target="_blank"
                  ><img
                    [id]="media.id"
                    [src]="media.icon"
                    [alt]="media.name"
                    loading="lazy"
                /></a>
              </li>
            </div>
          </div>
        </ul>
      </section>
    </article>
    <article class="apresentacao">
      <div class="fullscreen">
        <iframe
          id="presentation-video"
          width="802"
          height="399"
          src="https://www.youtube.com/embed/RvSzTZUvj5o?controls=0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
          loading="lazy"
        ></iframe>
      </div>
      <div class="mobile">
        <iframe
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/RvSzTZUvj5o?controls=0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
          loading="lazy"
        ></iframe>
      </div>
      <h3 id="txt-presentation-video">Veja nossa apresentação!</h3>
    </article>
    <section class="article-three">
      <section class="ultimos">
        <h3 id="txt-last-videos">Últimos eventos</h3>
        <div class="videos-ultimos" id="last-videos">
          <div *ngFor="let video of paginatedVi">
            <div class="video-text">
              <iframe
                width="305"
                height="197"
                [src]="getSafeVideoUrl(video.url)"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
                loading="lazy"
              ></iframe>
              <p id="txt-title-last-videos">{{ video.title }}</p>
            </div>
          </div>
        </div>
        <div class="pagination">
          <button
            class="btn-pagination"
            id="btn-pagination"
            *ngFor="let page of pagesArray"
            [disabled]="paginatedVideo.currentPage === page"
            (click)="onPageChanged(page)"
            [ngClass]="{ active: paginatedVideo.currentPage === page }"
          >
            <img
              [src]="
                paginatedVideo.currentPage === page
                  ? '../../../assets/image/Ellipse 4.svg'
                  : '../../../assets/image/Ellipse 3.svg'
              "
              alt="pagination"
            />
          </button>
        </div>
      </section>
    </section>
  </section>
</main>
<app-footer></app-footer>
