/* Cores */
.color-yellow {
  color: var(--color-yellow);
}

/* Corpo */
.container {
  width: 100%;
  max-width: 1400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 135px;
}

.title-background {
  width: 100%;
  max-width: 1185px;
  height: 284px;
  background: rgba(7, 2, 2, 0.3);
  flex-shrink: 0;
  border-radius: 90px;
  overflow: hidden;
  margin-left: -70px;
}

.background-fullscreen {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../assets/image/fundo.jpg");
  width: 100%;
  height: 810px;
  position: relative;
}

.background-fullscreen::before {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.title {
  font-size: 96px;
  font-weight: 900;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 70px;
}

.title-360px {
  display: none;
}

.container-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.txt-desc {
  width: 629px;
  height: 80px;
}

.txt-desc h2 {
  flex-shrink: 0;
  color: var(--color-white);
  font-family: var(--fonte-roboto);
  text-shadow: 0px 4px 4px var(--color-backgound-25);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.txt-btn {
  color: var(--color-black-medium);
  font-family: var(--fonte-roboto);
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.btns {
  background: var(--color-yellow);
  box-shadow: 0px 10px 4px 0px var(--color-backgound-25);
  margin-left: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  flex-shrink: 0;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.home-container article {
  width: 100%;
}

.desc-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 78px;
}

.descricao {
  width: 671px;
  height: 214px;
  flex-shrink: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.redes-sociais {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 303px;
  font-size: 30px;
  font-weight: 300;
}

.redes {
  width: 200px;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.apresentacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px 0 50px 0;
}

.video-apresentacao {
  width: 802px;
  height: 399px;
  flex-shrink: 0;
}

.mobile {
  display: none;
}

section {
  width: 100%;
}

.ultimos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 506px;
  background-color: var(--color-black-medium);
}

.ultimos > h3 {
  padding-top: 40px;
  font-size: 40px;
  font-weight: 800;
  color: var(--color-white);
}

.videos-ultimos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding-top: 80px;
  gap: 15px;
}

.video-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.video-text p {
  width: 305px;
  height: 31px;
  flex-shrink: 0;
  color: var(--color-white);
  font-family: var(--fonte-roboto);
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  gap: 15px;
}

.pagination button {
  border: none;
}

.btn-pagination {
  background-color: transparent;
  cursor: pointer;
}

.ultimos .videos-ultimos iframe {
  width: 300px;
  height: 197px;
  padding-bottom: 30px;
}

.ultimos .videos-ultimos p {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
}

.ultimos .pagination {
  padding-top: 20px;
}

.ultimos .pagination a {
  padding: 5px;
}

.title-one {
  display: none;
}

/* SMALL DEVICES - SMARTPHONES */
@media screen and (max-width: 480px) {
  .background-fullscreen {
    background: none;
    height: 0;
    position: none;
  }

  .container {
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 0;
    gap: 0;
    padding-top: 68px;
  }

  .title-background {
    display: none;
  }

  .title-360px {
    width: 265px;
    height: 44px;
    display: block;
  }
  .title-360px > p {
    width: 100%;
    flex-shrink: 0;
    color: var(--color-yellow);
    font-family: var(--fonte-roboto);
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    line-height: normal;
  }

  .container-button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .btns {
    margin-left: 0px;
  }

  .txt-btn {
    color: var(--color-black-medium);
    font-family: var(--fonte-roboto);
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

  }

  .txt-desc {
    margin-top: 16px;
    width: 100%;
    height: 63px;
  }

  .txt-desc > h2 {
    font-size: 16px;
    text-align: center;
  }

  .btn-container {
    width: 100%;
    display: flex;
    justify-content: center;

  }

  .home-container {
    width: 100%;
    margin-top: 267.5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .article-one {
    order: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .desc-logos {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .title-one {
    width: 100%;
    display: block;
  }

  .title-one > h2 {
    font-size: 20px;
    text-align: center;
    margin-top: 36px;
    margin-bottom: 16px;
  }

  .descricao {
    width: 100%;
    height: 103px;
    font-size: 14px;
    text-align: center;
    padding: 0px 17px;
  }

  .mobile {
    display: block;
    width: 90%;
    height: 150px;
    margin-bottom: 16.3px;
  }

  .mobile iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .fullscreen {
    display: none;
  }

  .apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0 0px 0;
  }

  .apresentacao > h3 {
    font-size: 14px;
    height: auto;
    padding: 0;
  }

  .redes-sociais {
    display: none;
  }

  .ultimos {
    display: none;
  }

  .article-three {
    display: none;
  }
}
