.message-header {
  position: fixed;
  margin-left: 65%;
  left: -25%;
  top: 0;
  width: 710px;
  height: 87.988px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  background: #fa0000;
  z-index: 2;
}

.nav img {
  width: 31.588px;
  height: 32px;
  flex-shrink: 0;
  margin: 26px 34px;
}

.message {
  display: flex;
  flex-direction: row;
}

.message h2,
p {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 5px;
}

/* SMALL DEVICES - SMARTPHONES */
@media screen and (max-width: 480px) {
  .message-header {
    width: auto;
    margin: 10px 13px;
    top: 0;
    left: 0;
    height: 45px;
  }

  .nav img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin: 9px 20px;
  }

  .message {
    width: 100%;
  }

  .message h2,
  p {
    width: auto;
    font-size: 14px;
  }

  h2 {
    text-align: end;
  }

  p {
    text-align: start;
  }
}
