/* Reset e Estilos Globais */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-black);
  color: #fff;
  height: 100%;
  width: 100%;
  background-position: center;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: aliceblue;
  transition: 0.4s;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Estilos comuns */
label {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2,
p {
  font-family: "Work Sans";
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.68px;
}

/* Formulário */
form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 500px;
  margin-left: 140px;
  margin-top: 101px;
}

.formcad,
.crieconta {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 5px;
}

.crieconta > h2 {
  font-family: Work Sans;
  margin-top: 45px;
  font-size: 34px;
  letter-spacing: -0.68px;
}

.crieconta > p {
  font-family: Work Sans;
  padding-top: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 20px;
  letter-spacing: -0.4px;
}

.login {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  margin-top: 43px;
}

.login > a {
  text-decoration-line: underline;
  color: #fff;
}

/* Principal */
.principal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  min-height: 1024px;
}

/* Informações Pessoais */
.registration {
  border: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 43px;
}

.email-data,
.senhas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.email,
.date,
.password,
.termo {
  width: 48%;
  margin-top: 26px;
}

label {
  margin-top: 27px;
}

input {
  padding: 5px;
  border: 1px solid #000;
  background: #fff;
  color: #201c1c;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  border-radius: 5px;
}

input::placeholder {
  color: #201c1c;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.username {
  margin-top: 14px;
  width: 100%;
  height: 50px;
  flex-shrink: 0;
}

.age {
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 6px;
}

.senhas {
  border: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.password-input {
  position: relative;
}

.termos {
  width: 100%;
  margin-top: 16px;
  margin-top: 43px;
}

.termos label {
  font-size: 12px;
}

.termos label a {
  text-decoration: underline;
}

/* Variáveis CSS */
:root {
  --color-yellow: #fecf5d;
  --color-yellow-medium: rgba(254, 207, 93, 0.5);
  --color-white: #fff;
  --color-white-medium: #d9d9d9;
  --color-black: #201c1c;
  --color-black-medium: #000;
}

/* logo marca e background */
.bemvindo {
  width: 489px;
  margin-top: -15px;
  background-image: url("assets/image/microfone.png");
  background-size: 489px 100%;
  background-repeat: no-repeat;
  position: relative;
}

.bemvindo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}

.logo-bemvindo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 1;
}

.logo-bemvindo h2 {
  text-align: center;
}

.logo {
  margin-top: 20%;
  margin-bottom: 30%;
}

/* validações */
.valid-backgroud {
  border: 1px solid #03a200;
  background-color: #daf8da;
}

.invalid-background {
  border: 1px solid #fa0000;
  background-color: #fad6d6;
}

/* Outros estilos */
.hide,
.show {
  position: absolute;
  top: 39px;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.btn-confirm {
  display: flex;
  justify-content: center;
  margin-top: 55px;
  margin-bottom: 238px;
  border: none;
}

/* Estilos para o rótulo que substituirá o checkbox */
.termos label {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
}

/* Ícone do checkbox */
.termos label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2.5px;
  width: 16px;
  height: 17px;
  background-color: #d9d9d9;
  transition: background-color 0.3s ease; /* Transição de cor de fundo gradual */
  border: 1px solid #000000;
  transition: border 0.3s ease;
}

.termos input:checked + label::before {
  content: "\2713"; /* Código de caractere Unicode para um visto (✓) */
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #03a200;
  background-color: #daf8da;
  font-weight: bold;
  color: #000;
  text-align: center;
  line-height: 16px; /* Ajustar a linha verticalmente */
}

.unchecked:not(checked) + label::before {
  border: 1px solid #fa0000;
  background-color: #fad6d6;
}

/* Estilos para elementos com fonte */
.roboto-font {
  font-family: "Roboto", sans-serif;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
}

/* Logo Pipoca */
.logo-pipoca {
  display: flex;
  position: relative;
  right: 10px;
  top: 15px;
  margin-bottom: 30px;
}

/* Mensagens de Erro/Validações */
.invalid-feedback {
  position: absolute;
  margin-top: 6px;
  color: #fa0000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.valid-backgroud {
  border: 1px solid #03a200;
  background-color: #daf8da;
}

.invalid-background {
  border: 1px solid #fa0000;
  background-color: #fad6d6;
}

/* Textos */

.txt-btn {
  color: #000;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.32px;
}

/* Botões */
/* Botões Genéricos */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50px;
  background: var(--color-yellow);
  box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border: none;
}

.btn:hover {
  background: var(--color-yellow-medium);
}

/* Botão de Acesso */
.btn-access {
  width: 319px;
  padding: 27px 152px;
  gap: 10px;
}

/* Botão de Confirmação */
.btn-confirm {
  width: 188px;
  height: 56px;
  padding: 21px 27px;
  gap: 10px;
}

/* SMALL DEVICES - SMARTPHONES */
@media screen and (max-width: 480px) {
  body,
  html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .background-wrapper {
    width: 100%;
    height: 100%;
    bottom: 0;
    background: url("/assets/image/microfone.png"), lightgray no-repeat;
    background-size: cover;
    background-position: center center;
    flex-shrink: 0;
  }

  /* Botões */
  .btn-access {
    width: 155px;
    height: 38px;
    padding: 0px 0px;
    gap: 0;
  }

  .btn-confirm {
    width: 155px;
    margin-top: 39px;
    margin-bottom: 0px;
    height: 38px;
    padding: 0px 0px;
    gap: 0;
  }

  .txt-btn {
    font-size: 14px;
  }

  /* Logomarca */
  .bemvindo {
    display: flex;
    width: 100%;
    height: 85px;
    justify-content: center;
    background-size: 0;
    background-image: none;
    margin-top: 0;
  }

  .bemvindo::before {
    display: none;
  }

  .bemvindo h2 {
    display: none;
  }

  .logo-bemvindo {
    width: 56px;
    height: 56px;
    margin-top: 27px;
    flex-shrink: 0;
  }

  .logo-pipoca {
    right: 0;
    top: 0;
    margin-bottom: 0;
  }

  /* formulários */
  .crieconta > h2,
  p {
    text-align: center;
  }

  .crieconta > h2 {
    margin-top: 43px;
    font-size: 24px;
  }

  .crieconta > p {
    padding-top: 0px;
    font-size: 16px;
  }

  .principal {
    justify-content: center;
    height: 100%;
    padding: 0px 19px;
    padding-bottom: 50px;
  }

  form {
    justify-content: center;
    width: 100%;
    margin-left: 0;
    margin-top: 27px;
    z-index: 1;
  }

  .email,
  .date,
  .password {
    width: 100%;
    margin-top: 26px;
  }

  .login {
    font-size: 14px;
    margin-top: 29px;
  }

  .termos label {
    font-size: 11px;
  }
}
