<div class="overlay-menu">
  <div class="close">
    <button class="btn-menu" (click)="toggleMenuClose()"><p>X__ FECHAR</p></button>
  </div>
  <div class="menu">
    <img src="../../../../assets/public/images/vectorHome.png" alt="" />
    <p>Home</p>
  </div>
  <div class="menu">
    <img src="../../../../assets/public/images/vectorGaleria.png" alt="" />
    <p>Galeria</p>
  </div>
  <div class="menu">
    <img src="../../../../assets/public/images/icon-person.png" alt="" />
    <p>Perfil</p>
  </div>
  <div class="menu">
    <img src="../../../../assets/public/images/icon-headset.png" alt="" />
    <p>Podcasts</p>
  </div>
  <div class="menu">
    <img src="../../../../assets/public/images/icon-text-snippet.png" alt="" />
    <p>Quem somos</p>
  </div>
  <div class="logout menu">
    <img src="../../../../assets/public/images/exit-to-app.png" alt="" />
    <p>Sair da conta</p>
  </div>
</div>
