<footer class="footer-container">
  <div class="logo-rodape">
    <img
      id="footer-logo"
      src="../../../../assets/image/logo-pipoca-agil.png"
      alt="logo pipoca agil"
    />
  </div>
  <div class="footer-term-policy">
    Termos de Uso <br />
    Política de Privacidade <br />
    ©Grupo Coral 2023
  </div>
  <div class="footer-email">
    E-mail: <br />
    <p>pipocaagil@gmail.com</p>
  </div>
  <div class="rodape">
    <p id="footer-txt-media">Redes Sociais</p>
    <div class="footer-icon-redes">
      <a
        *ngFor="let media of filteredMedias"
        [id]="'footer-' + media.id"
        [href]="getSafeUrl(media.url)"
        target="_blank"
        loading="lazy"
      >
        <img [src]="media.icon" [alt]="media.name" />
      </a>
    </div>
  </div>
</footer>
