<footer class="footer-container">
  <div class="logo-rodape">
    <img src="../../../../assets/image/logo-pipoca-agil.png" alt="logo pipoca agil" />
  </div>
  <p>
    Termos de Uso <br />
    Politica de Privacidade <br />
    ©Grupo Coral 2023
  </p>
  <p>
    E-mail: <br />
    pipocaagil@gmail.com
  </p>
  <div class="rodape">
    <p>Redes Sociais</p>
    <div class="rodape-redes">
      <a href="https://www.instagram.com/pipocaagil/" target="_blank"
        ><img src="../../../../assets/image/ri_instagram-fill.svg" alt="logo instagram"
      /></a>
      <a href="https://www.linkedin.com/company/pipoca-%C3%A1gil/mycompany/verification/" target="_blank"
        ><img src="../../../../assets/image/bi_linkedin.svg" alt="logo linkedin"
      /></a>
      <a href="https://web.facebook.com/pipocaagil/?_rdc=1&_rdr" target="_blank"
        ><img src="../../../../assets/image/ic_outline-facebook.svg" alt="logo facebook"
      /></a>
    </div>
  </div>
</footer>

